:root {
    // Text
    --h1-font-size: 1em;
    --h2-font-size: 2em;

    // Padding
    --padding: 20px;
    --padding--small: 10px;
    --padding--large: 30px;

    // Margin
    --margin: 20px;
    --margin--small: 10px;
    --margin--large: 30px;

    // Input
    --input-height: 40px;

    // Theme Colors
    --pink: #fff2f2;
    --green: #7D9B86;
    --taupe: #d8d3d3;
    --cream: #f0ebe5;
}
