.row {
    --selected-color: var(--taupe);
    border: 2px solid var(--taupe);

    &:hover {
        cursor: pointer;
        background-color: var(--green);
    }

    :first-child {
        display: none;
    }
}

.selected {
    background-color: var(--selected-color);
    border: 2px solid var(--green);

    td {
        border-top: 2px solid var(--green);
    }
}

.material {
    padding: 2px 8px;
    background: var(--pink);
    border-radius: 20px;
    margin: 1px 0;
    border: 1px solid;
}
